.side-menu {
  position: fixed;
  height: 100vh;
  width: 200px;
  background-color: white;
  overflow-y: scroll;
}

#admin-side-menu {
  position: absolute;
  //top: 4em;
  padding-top: 4em;
  bottom: 0;
  width: 200px;
  background-color: white;
  overflow-y: scroll;
  transition: left 0.3s ease-in-out;

  &.is-active {
    transition: left 0.3s ease-in-out;
    left: 0;
  }

  @include desktop {
    left: 0;

  }

}

.management-area {
  position: absolute;
  top: 4rem;
  left: 200px;
  right: 0;
}

.flex-container {
  margin: 10px 25px;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.menu-list li ul {
  margin-top: 0;
  margin-bottom: 0;
}

.is-button-style {
  border-color: transparent;
  background-color: white;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  height: 2.25em;
  border-right-color: $button-border-color;
  border-right-width: 1px;
  border-right-style: solid;
}

.image-input {
  display: block;
  width: 247px;
  height: auto;
  cursor: pointer;
}

.placeholder {
  background: $white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #363636;
  font-size: 1rem;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
}

.placeholder:hover {
  background: #E0E0E0
}

.img-file-input {
  display: none;
}

.img-input-data-wrapper {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  padding: 0;

  &.notification:not(:last-child){
    margin-bottom: 0.5em;
  }

  img {

    height: 100%;
    max-width: 100%;
  }
}

.img-upload-wrapper {
  position: relative;
}