/* ========================================
   ============ Text Overrides ===========
   ======================================== */

.button, .input {
  border-radius: 0;
}

.has-addons {
  .input {
    box-shadow: none;
    border-color: transparent;
  }

}

[disabled].input {
  background-color: #fff;
  border-color: #dbdbdb;
}

.card {

  .card-content {
    padding: 1.0rem;

    .image-input {
      width: 100%;
    }

  }

}

.components-toolbar.edit-post-fullscreen-mode-close__toolbar{
  display: none;
}